<div class="comments-row">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="laissez un commentaire..."
      [formControl]="commentCtrl"
    />
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="onLeaveComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
<mat-list *ngIf="comments.length" @list>
  <h2 matSubheader>Commentaires</h2>
  <mat-list-item
    *ngFor="let comment of comments; index as index"
    [@listItem]="animationState[index]"
    (mouseenter)="onMouseEnter(index)"
    (mouseleave)="onMouseLeave(index)"
  >
    <span class="comment-text" mat-line>{{ comment.comment }}</span>
    <span class="comment-date" mat-line>{{ comment.createdDate | date }}</span>
  </mat-list-item>
</mat-list>
